.banner-img{
    width: 550px;
    height: 50%;
    align-items: center;
}
.container h1{
    position: relative;
}
.container h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4 ;
}